@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.AppUser > html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
/*
li {
  list-style: none;
}

a {
  text-decoration: none;
}
*/
.headerUser {
  border-bottom: 10px solid #05336e;
 /* background-color: #1d65ac; */
}
<<<<<<< HEAD
img.userHome  {
=======
img {
>>>>>>> fe3fa22b3b9c85e656e7b280429b3e8be108e2db
  width: auto;
  max-height: 100%;
}

.navbarUser {
  display: flex;
  justify-content: space-between;
  align-items: flex;
  padding: 1rem 1rem;
  max-height: 100%;
  max-width: 100%;
  background-color:#ffb6e1;
}
<<<<<<< HEAD
img.userHome {
  max-width: 120%;
  max-height: 120%;
}
.logopicuserhome {
=======
img {
  max-width: 120%;
  max-height: 120%;
}
.logopic {
>>>>>>> fe3fa22b3b9c85e656e7b280429b3e8be108e2db
  height: 50px;
  width: 50px;
}

<<<<<<< HEAD

.nav-menu-home {
=======
.bar {
  display: block;
  width: 20px;
  height: 20px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #6e88d8;
}

.nav-menu {
>>>>>>> fe3fa22b3b9c85e656e7b280429b3e8be108e2db
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  
}

<<<<<<< HEAD
.nav-item-home {
=======
.nav-item {
>>>>>>> fe3fa22b3b9c85e656e7b280429b3e8be108e2db
  list-style: none;
  margin-left: 1rem;
  text-align: center;

  
}

<<<<<<< HEAD
.nav-link-home {
=======
.nav-link {
>>>>>>> fe3fa22b3b9c85e656e7b280429b3e8be108e2db
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 300;
  color: #190060;
  text-align: center;
}
<<<<<<< HEAD
.nav-item-home:hover{
=======
.nav-item:hover{
>>>>>>> fe3fa22b3b9c85e656e7b280429b3e8be108e2db
  background-color: #84f5ff;
  color:#d20606;
}
/*
.nav-link:hover {
  color: #ffffff; 
  background-color: #eca310; 
}
*/
<<<<<<< HEAD
=======
.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #e0364a;
}
>>>>>>> fe3fa22b3b9c85e656e7b280429b3e8be108e2db
.columnHome {
  float: left;
  width: 100%;
  background-color: #c8edfd;
  color:#6033a8;
  width: 33.33%;
  border: .2rem solid #d20606;
}

<<<<<<< HEAD
h1.homeColumn {
=======
h1 {
>>>>>>> fe3fa22b3b9c85e656e7b280429b3e8be108e2db
  position: relative;
  margin: 0;
  text-align: center;
  font-size: 1rem;
  background-color: solid #d20606;
<<<<<<< HEAD
  color: rgb(0, 0, 0);
=======
  color: rgb(255, 18, 164);
>>>>>>> fe3fa22b3b9c85e656e7b280429b3e8be108e2db
  }
  .rowHome{
    background-color:rgb(255, 255, 255);
  }
.rowHome:after {
  content: "";
  background-color: #dde4ec;
  display: table;
  clear: both;
  width: .5rem;
}
