.driverProfileForm {
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  }
  
  .driver_profile_bottom {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 20px;
  }
  
  .driver_genPost_bottom > label {
    color: black;
  }
  
  
  