@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");



.AppUserContact > html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
 input.contact { 
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  color: #666;
  line-height: 2rem;
  }
  input.contact {
    margin-bottom: 2 rem;
    border: .08rem solid rgb(17, 210, 224);
    border-radius: 1rem;
    }
    input.contact {
      width: calc(100% - .5rem);
      padding: .25rem;
      }
      input.contact:hover::placeholder {
        color: #333;
        }
       input.contact:hover {
        border: .5rem solid transparent;
        box-shadow: 0 0 6px 0 #333;
        color: #333;
        }
/*
li {
  list-style: none;
}

a {
  text-decoration: none;
}
*/
.headerUser {
  border-bottom: 10px solid #05336e;
 /* background-color: #1d65ac; */
}
img.userContactLogo {
  width: auto;
  max-height: 100%;
}

.navbarUserContact {
  display: flex;
  justify-content: space-between;
  align-items: flex;
  padding: 1rem 1rem;
  max-height: 100%;
  max-width: 100%;
  background-color:#ffb6e1;
}
img.userContactLogo {
  max-width: 120%;
  max-height: 120%;
}
.logopic {
  height: 50px;
  width: 50px;
}



.nav-menu-contact {
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  
}

.nav-item-contact {
  list-style: none;
  margin-left: 1rem;
  text-align: center;

  
}

.nav-link-contact {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 300;
  color: #190060;
  text-align: center;
}
.nav-item-contact:hover{
  background-color: #84f5ff;
  color:#d20606;
}
/*
.nav-link:hover {
  color: #ffffff; 
  background-color: #eca310; 
}
*/